body {
  background-color: #DADC5F;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}
#container {
  display: flex;
  justify-content: center;
}
.todoListMain {
  font-size: 25px;
  padding: 20px;
}

#taskInput {
  margin-left: 10px;
  font-size: 20px;
  border-radius: 5px;
}

#taskAddBtn {
  margin-left: 10px;
  font-size: 20px;
  border-radius: 10px;
  color: #CD5C5C;
}
